
html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 50vh;
    max-height: 100%;
    overflow-y: auto;
}

.user-avatar {
    height: 40px; /* Set the desired height of the navbar */
    display: flex;
    align-items: center;
}

.user-avatar img {
    height: 100%;
    width: auto;
    display: block;
}
